.cartContainer {
  justify-items: center;
  margin-right: 20px;
}

.cartLink {
  text-decoration: none;
}

.cartIcon {
  color: grey;
  width: 32px;
  height: 32px;
}

.cartIcon:hover {
  filter: drop-shadow(0 0 1px black);
  cursor: pointer;
}

.totalItems {
  font-size: 16px;
  text-decoration: none !important;
  color: black;
}
